@using WebsiteCakeNew.Models.BUS;
@model IEnumerable<WebBanBanhConnection.PRODUCT>
@{ var counter = 0; }
@foreach (var item in Model)
{
    if (counter >= 4)
    {
        break; // Exit the loop if 8 items have been displayed
    }

    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="product__item">
            <div class="product__item__pic set-bg" data-setbg="../../Content/img/shop/@(item.Image.ToString())">
                <div class="product__label">
                    @{ 
                        var db = new ShopBUS();
                        string cate = db.GetCategoryProduct(item.ProductID);
                        if(cate != string.Empty)
                        {
                            <span>@cate</span>
                        }
                    }
                </div>
            </div>
            <div class="product__item__text">
                <h6><a href="@Url.Action("../Shop/Details", new { id = @item.ProductID})">@item.ProductName</a></h6>
                @{
                    var formattedPrice = string.Format("{0:N0}", item.Price - item.Price * (item.Discount / (float)100));
                }

                <div class="product__item__price">@formattedPrice VND</div>
                <div class="cart_add">
                    <a href="#">Add to cart</a>
                </div>
            </div>
        </div>
    </div>
    counter++;
}
