
<div class="d-flex flex-column align-items-center justify-content-between" style="padding:0px 62px">
    <div class="form-group">
        <h2><strong>Đăng Xuất</strong></h2>
    </div>
    <div class="form-group">
        <div class="">
            <p>Bạn có chắc chắn muốn đăng xuất?</p>
        </div>
    </div>
    <div class="form-group d-flex align-items-center justify-content-center" style="gap: 24px">
        <div class="">
            <a href="@Url.Action("ConfirmSignOut", "Account")" class="btn btn-secondary" style="background-color: #f08632; border-color: #f08632; color: white">Đăng xuất</a>
        </div>
        <div class="">
            <a onclick="document.getElementById('id01').style.display='none'" class="btn btn-secondary" style="background-color: #11111194; border-color: #11111194; color:white">Hủy</a>
        </div>
    </div>

</div>