@using WebsiteCakeNew.Models.BUS
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="card card-success">
    <div class="card-header">
        <h3 class="card-title"><em><strong>Thêm danh mục mới</strong></em></h3>
        <div class="card-tools">
            <a style="margin-right:8px;padding:12px" href="@Url.Action("Index","CategoryManager")">
                <i class="fas fa-times"></i>
            </a>
        </div>
    </div>
    <div class="card-body">
        @using (Html.BeginForm("Create", "CategoryManager", FormMethod.Post))
        {
            <div class="form-group">
                <label>Tên danh mục</label>
                <input type="text" class="form-control" placeholder="Nhập tên sản phẩm" name="CategoryName" required>
            </div>
            <div class="form-group">
                <label>Mô tả danh mục</label>
                <textarea class="form-control" rows="4" placeholder="Nhập mô tả dài" name="Description" required></textarea>
            </div>
            <div class="form-group">
                <label>Danh mục cha</label>
                <select class="form-control" name="ParentID">
                    <option value="">-- Chọn danh mục cha --</option>
                    @foreach (var category in CategoryBUS.DanhSach())
                    {
                        <option value="@category.CategoryID">@category.CategoryName</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label>Ngày tạo danh mục</label>
                <input type="text" class="form-control" placeholder="Ngày tạo sản phẩm" value="@DateTime.Now" readonly name="CreatedDate">
            </div>
            <input type="submit"
                   value="Thêm danh mục"
                   class="btn btn-success float-right" />
        }
    </div>
    <!-- /.card-body -->
</div>

